html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.editor {
  max-width: 750px;
  margin: 20px;
  border: solid 1px #ddd;
}

.editor__toolbar {
  padding: 10px;
  border-bottom: solid 1px #ddd;
  background: #f4f4f4;
}

.editor__button {
  width: 40px;
  font-size: 14px;
  font-weight: 800;
  border: none;
  background-color: #fff;
  padding: 8px;
  margin-right: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.editor__button:hover {
  width: 120px;
  display: inline-block;
  background-color: #ddd;
}

.editor__button:hover .editor__button-span {
  display: block;
  position: absolute;
}

.editor__button:active {
  background-color: #808080;
}

.editor__text {
  font-family: sans-serif;
  width: 100%;
  height: 300px;
  padding: 10px;
}

.editor__button-span {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}